Repository UnitVectorY-Labs/LockServiceCentral: changes, and which Codecov flags are due for each by the changed paths.
All: api, locker, locker-firestore, locker-memory

codecov.yml:

component_management:
  individual_components:
    - component_id: "api"
      paths:
        - "api/**"
    - component_id: "locker"
      paths:
        - "locker/**"
    - component_id: "locker-firestore"
      paths:
        - "locker-firestore/**"
    - component_id: "locker-memory"
      paths:
        - "locker-memory/**"

New module to standardize the tests to ensure the LockService is implemented as expected
  locker-firestore/pom.xml
  locker-memory/pom.xml
  locker-memory/src/test/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockServiceTest.java
  locker-tests/README.md
  locker-tests/pom.xml
  locker-tests/src/lombok.config
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockerTest.java
  locker-tests/src/main/resources/.gitignore
  pom.xml
Due: locker-firestore, locker-memory

Additional test coverage for the LockService
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/LockManagerService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockerTest.java
Due: api

Actual Firestore test to improve consistency in implementation
  locker-firestore/src/test/java/com/unitvectory/lockservicecentral/locker/firestore/FirestoreLockServiceActualTest.java
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: locker-firestore, locker-memory

Additional test coverage for testing edge cases
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: locker-memory

Bug fixes based on filling out test cases
  locker-firestore/src/main/java/com/unitvectory/lockservicecentral/locker/firestore/FirestoreLockService.java
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: locker-firestore, locker-memory

More test coverage for memory test
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: none

Added final missing test for memory
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: locker-memory

Additional test coverage to handle more edge cases
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: none

Major overhaul of the test cases
  locker-firestore/src/main/java/com/unitvectory/lockservicecentral/locker/firestore/FirestoreLockService.java
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
  locker-tests/src/main/java/com/unitvectory/lockservicecentral/locker/tests/AbstractLockServiceTest.java
Due: locker-firestore, locker-memory

Spring Boot MockMvc Tests from JSON files
  api/pom.xml
  api/src/test/java/com/unitvectory/lockservicecentral/api/APILockServiceTest.java
  api/src/test/resources/tests/getInvalidLockName.json
  api/src/test/resources/tests/getInvalidNamespace.json
  api/src/test/resources/tests/getMissingLock.json
  locker-memory/src/main/java/com/unitvectory/lockservicecentral/locker/memory/MemoryLockService.java
Due: api, locker-memory

Additional test coverage for other methods
  api/pom.xml
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/TimeConfiguration.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/CurrentTimeService.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/LockManagerService.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/TimeService.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/APILockServiceTest.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/config/StaticTimeConfiguration.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/service/StaticTimeService.java
  api/src/test/resources/tests/acquireLock.json
  api/src/test/resources/tests/releaseLock.json
  api/src/test/resources/tests/renewMissingLock.json
Due: api

The memory module is used for testing and therefore must be always compiled
  pom.xml
Due: none

More tests require entropy and time services that can be injected as static
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/EntropyConfiguration.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/dto/InternalErrorResponse.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/handler/GlobalExceptionHandler.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/EntropyService.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/RandomEntropyService.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/APILockServiceTest.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/config/StaticEntropyConfiguration.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/dto/InternalErrorResponseTest.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/service/StaticEntropyService.java
  api/src/test/resources/tests/404.json
  api/src/test/resources/tests/405.json
Due: api

Using consistgen for the time and UUID dependency injection
  api/pom.xml
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/EpochTimeProviderConfiguration.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/TimeConfiguration.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/UuidGeneratorConfiguration.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/handler/GlobalExceptionHandler.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/CurrentTimeService.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/LockManagerService.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/service/TimeService.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/APILockServiceTest.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/config/StaticEntropyConfiguration.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/config/StaticEpochTimeProviderConfiguration.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/config/StaticUuidGeneratorConfiguration.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/service/StaticEntropyService.java
  api/src/test/java/com/unitvectory/lockservicecentral/api/service/StaticTimeService.java
  pom.xml
Due: api

Additional REST based test cases for acquiring locks
  api/src/test/resources/tests/acquireLockFailed.json
  api/src/test/resources/tests/acquireLockInvalidSchema.json
  api/src/test/resources/tests/releaseLockFailed.json
  api/src/test/resources/tests/releaseLockInvalidSchema.json
  api/src/test/resources/tests/renewLockInvalidSchema.json
  api/src/test/resources/tests/renewLockSuccess.json
Due: api

Using consistgen version 0.0.5
  api/src/test/java/com/unitvectory/lockservicecentral/api/APILockServiceTest.java
  pom.xml
Due: api

Switching to GraalVM for the build
  Dockerfile
  api/pom.xml
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/MyRuntimeHintsRegistrar.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/controller/LockController.java
  pom.xml
Due: api

Revert "Switching to GraalVM for the build"
  Dockerfile
  api/pom.xml
  api/src/main/java/com/unitvectory/lockservicecentral/api/config/MyRuntimeHintsRegistrar.java
  api/src/main/java/com/unitvectory/lockservicecentral/api/controller/LockController.java
  pom.xml
Due: api

Timeout GitHub action after 30 minutes
  .github/workflows/build.yml
  .github/workflows/docker-build-dev.yml
Due: none

Reverting to spring-cloud-gcp-dependencies 5.6.1 due to crash
  pom.xml
Due: none

Switching to distroless Java 17 to run the app
  Dockerfile
Due: none

Run Dependabot at 6 AM on Saturday now
  .github/dependabot.yml
Due: none

Create zizmor.yml
  .github/workflows/zizmor.yml
Due: none

Added persist-credentials: false
  .github/workflows/build.yml
  .github/workflows/docker-build-dev.yml
Due: none

Rename build.yml to build-java-17.yml
  .github/workflows/build-java-17.yml
Due: none

Create add-to-project.yml
  .github/workflows/add-to-project.yml
Due: none

Update add-to-project.yml
  .github/workflows/add-to-project.yml
Due: none

Update dependabot.yml added docker
  .github/dependabot.yml
Due: none

add cleanup step for dangling Docker images
  .github/workflows/docker-build-dev.yml
Due: none

Update docker-build-dev.yml
  .github/workflows/docker-build-dev.yml
Due: none

Add JUnit BOM dependency for version management
  pom.xml
Due: none

Update GitHub Actions workflow for zizmor
  .github/workflows/zizmor.yml
Due: none

Update README and configuration files for etcd backend; add Netty BOM dependency
  README.md
  locker-etcd/pom.xml
  locker-etcd/src/main/java/com/unitvectory/lockservicecentral/locker/etcd/EtcdLockService.java
  locker-etcd/src/main/java/com/unitvectory/lockservicecentral/locker/etcd/LockerEtcdClientConfig.java
  locker-etcd/src/main/java/com/unitvectory/lockservicecentral/locker/etcd/LockerEtcdConfig.java
  locker-etcd/src/test/java/com/unitvectory/lockservicecentral/locker/etcd/EtcdLockServiceActualTest.java
  locker-etcd/src/test/java/com/unitvectory/lockservicecentral/locker/etcd/EtcdLockServiceTest.java
  pom.xml
Due: none

Enhance CanonicalInitFilter to manage request attributes for proper logging context
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalInitFilter.java
Due: none

Improving structured logging implementation
  api/.clip4llm
  api/src/main/java/com/unitvectory/lockservicecentral/api/controller/LockController.java
  api/src/main/resources/application.yaml
  locker-etcd/.clip4llm
  locker-firestore/.clip4llm
  locker-memory/.clip4llm
  locker-tests/.clip4llm
  locker/.clip4llm
  logging/.clip4llm
  logging/README.md
  logging/pom.xml
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/AppRuntimeProperties.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalEmitInterceptor.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalInitFilter.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalLogContext.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalLogger.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/CanonicalLoggingConfig.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/HashUtil.java
  logging/src/main/java/com/unitvectory/lockservicecentral/logging/RequestContextPropagator.java
  logging/src/test/java/com/unitvectory/lockservicecentral/logging/CanonicalEmitInterceptorTest.java
  pom.xml
Due: api, locker, locker-firestore, locker-memory

Enhance ValidationErrorResponse to include detailed context for validation errors
  api/src/main/java/com/unitvectory/lockservicecentral/api/dto/ValidationErrorResponse.java
Due: api

Update Swagger UI to version 5.31.0 for improved features and security
  api/src/main/resources/static/index.html
Due: api

Add logging component paths to codecov.yml
  codecov.yml
Due: none

Fixing issues by adding missing DynamoDB configs
  api/pom.xml
  codecov.yml
Due: api
